---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import storyMulti from "@/json/tl/multi.json";
// import { getCollection } from "astro:content";
// import FormattedDate from "../../components/FormattedDate.astro";

// const posts = (await getCollection("tl")).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main>
            <section class="multi">
                <ul>
                    {
                        storyMulti.map((s) => (
                            <li>
                                <a href={`/tl/${s.slug}/`}>
                                    {s.title}
                                    {/* <br />
                                    {s.description} */}
                                </a>
                            </li>
                        ))
                    }
                </ul>
                Note: This is a WIP!
            </section>
        </main>
        <style lang="scss">
            main {
                display: flex;
                min-height: calc(100vh - var(--header-height));
                justify-content: center;
                align-items: center;
            }
        </style>
    </body>
</html>
