---
import type { CollectionEntry } from "astro:content";
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

import Navigation from "@/components/tl/chapter/Navigation.astro";
import StoryOptions from "@/components/tl/chapter/StoryOptions";

import "@/styles/variables/tl/chapter.scss";
import "@/styles/tl/chapter.scss";

type Props = CollectionEntry<"tl">["data"];

const { title, description, heroImage, series, story, previous, next, noDir } =
    Astro.props;
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} image={heroImage} />
    </head>

    <body>
        <Header />
        <main>
            <section>
                <article>
                    <slot />
                </article>
            </section>
            <div class="controls__wrapper">
                {
                    story || previous || next ? (
                        <Navigation
                            noDir={noDir}
                            story={story}
                            previous={previous}
                            next={next}
                        />
                    ) : null
                }
                {series === "18trip" ? <StoryOptions client:only="react" /> : null}
            </div>
        </main>
        <Footer />
    </body>
</html>
